
.activePersonalizado{
    background: rgba(255, 166, 0, 0.089);
    border-radius: 4%;
};

.carousel-inner img {
    width: 50%;
    max-height: 300px;
}

.carousel.slide{
    height: 403px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    padding: 2px;
    background-color: rgb(241, 235, 235);
    position: center;
}

.carousel-inner{
position: center;
 height: 400px;
 width: 350px;
 left: 2px;
}

.carousel-control-prev{
    width: 100px;
}

.carousel-control-next{
    width: 100px;
}

.carousel-caption.d-none.d-md-block{
    left: 430px;
    bottom: 0px;
    margin-top: 10px;
    height: 403px;
    width: 500px;
    text-align: justify;
    font-size: 1.1rem;
    font-family:'Gugy';
    color: black;
}